{% extends 'base.html.twig' %}


{% block title %}FlorenceMEZIERE{% endblock %}

{% block stylesheets %}
    <!--cette ligne permet d'importer le css -->
    <link href="https://fonts.googleapis.com/css?family=Aclonica|Monoton|Ultra|Gupter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {{ parent() }}
{% endblock %}

{% block body %}


<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1 id="en-cours">Merci de patienter, cette page est en cours de construction</h1>
</body>
</html>

{% endblock %}