{% extends 'base.html.twig' %}


{% block title %}FlorenceMEZIERE{% endblock %}

{% block stylesheets %}
    <!--cette ligne permet d'importer le css -->
    <link href="https://fonts.googleapis.com/css?family=Aclonica|Monoton|Ultra|Gupter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {{ parent() }}
{% endblock %}

{% block body %}


    <div class="header">
        <!--permet de fixer le text pour qu'au scroll, il ne bouge pas -->
        <span class="text-container w3-container w3-center w3-animate-zoom">
            <h1>Développeuse Web</h1>
            <h2>Florence MEZIERE</h2>
        </span>
    </div>
    
    <div class="liens">
        <a href="#presentation"> <img src="/img/presentation.png" title="presentation" alt=""></a>
        <a href="#langages"> <img src="/img/langage.png" title="langage" alt=""></a>
        <a href="#projet"> <img src="/img/projet.png" title="projet" alt=""></a>
        <a href="#contact"> <img src="/img/contact.png" title="contact" alt=""></a>
    </div>
    
    <div id="presentation">
        <h3 id="presentation-texte">Petit mot sur moi</h3>
        <p>Ayant vogué dans plusieurs filières, j’ai enfin trouvé ce qui me plaît : Le Développement Web !
            <br><br>
            Se creuser la tête fasse à un problème, trouver de nouvelles alternatives et apprendre en continue sont des
            points importants que je retrouve, avec plaisir, dans ce métier.
            <br><br>
            Pour parfaire ma formation, je suis actuellement en quête d’un contrat professionnel sur Grenoble et alentour.
        </p>
    </div>

    <div id="langages">
        <div class="container">
            <div class="row">

                <div class="col-md-4" id="langage">
                    <h3>Langages</h3>
                    <img src="/img/logo-html.png" alt="Logos Html">
                    <img src="/img/logo-css.png" alt="Logos css">
                    <img src="/img/logo-js.png" alt="Logos js">
                    <img src="/img/sql-logo.png" alt="Logo Sql"/>
                    <img src="/img/php.png" class="php" alt="Logo Php"/>
                    <img src="/img/ajax.png" alt="Logo ajax">
                </div>

                <div class="col-md-4" id="bibliotheque">
                    <h3>Bibliothèques</h3>
                    <img src="/img/wordpress-logo-square.png" class="bibliotheque" alt="Logo Wordpress"/>
                    <img src="/img/Prestashop-logo.png" class="bibliotheque" alt="Logo Presta"/>
                </div>

                <div class="col-md-4" id="framework">
                    <h3>Frameworks</h3>
                    <img src="/img/logo-symfony.png" alt="Logo Symfony"/>
                    <img src="/img/vue.png" alt="Logo vue.js">
                    <img src="/img/react.png" alt="Logo react">
                </div>

            </div>
        </div>
    </div>

    <div id="projet">
        <h3>Mes projets</h3>
        <div id="projets">
            <div>
                <a href="/en-cours" target="_blank">
                    <img src="/img/plant-tracker.jpg" title="plant-tracker" alt="projet plant tracker">
                </a>
            </div>
            <div>
                <a href="https://www.charabica.yj.fr/" target="_blank">
                    <img src="/img/charabica.jpg" title="charabica" alt="projet charabica">
                </a>
            </div>
            <div>
                <a href="/en-cours" target="_blank">
                    <img src="/img/dummygotchi.jpg" title="dummygotchi" alt="projet dummygotchi">
                </a>
            </div>
        </div>
    </div>
    <div id="contact">
        <div>
            <h3>N'hésitez pas à me contacter:</h3>
        </div>
        <div>
            <a  href="mailto:fmeziere95@gmail.com" title="fmeziere95@gmail.com" target="_blank"><img src="/img/mail.png"alt="logo et lien email"></a>
            <a href="https://www.linkedin.com/in/florence-meziere/" target="_blank"><img src="/img/linkedin.png" alt="Logo et lien linkedin"></a>
            <a href="https://gitlab.com/floolf" target="_blank"><img src="/img/gitlab.png" alt="Logo et lien gitlab"></a>
        </div>
    </div>

{% endblock %}
