body{
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  background-color: #002000 !important;
  color: white !important;
}

.text-container{
  //fixe le texte sur comme avec le background
  position: fixed;
  h1{
    margin-top: -8px;
    text-align: center;
    font-family: 'Ultra', cursive;
    color: #002000;
    font-size: 70px !important;
    text-shadow: #007200 1px 1px 2px;

    #en-cours{
      display: flex;
      justify-items: center;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
  }

  h2{
    margin-top: -8px;
    text-align: center;
    font-family: 'Ultra', cursive;
    color: rgba(0, 32, 0, 0.87);
    font-size: 60px !important;
    text-shadow: rgba(0, 127, 0, 0.7) 1px 1px 2px;
  }
}

h3 {
  text-align: center;
  font-family: 'Aclonica', sans-serif;

  @media screen and (max-width: 992px) {
    font-size: 50px;
  }
}

p{
  font-family: 'Gupter', sans-serif;
  font-size: 25px;
}

.header{
  background-image: url('../../../public/img/header.jpeg');
  //fixe l'image pour qu'elle ne se déplace pas
  background-attachment: fixed;
  //permet de creer l'effet decaler sur l'image
  -webkit-clip-path: polygon(0 6%, 100% 0%, 100% 96%, 0% 100%);
  box-shadow: 0 0 7px 5px rgba(52, 64, 62, 0.36);
  height: 600px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3{
    margin-bottom: 60px !important;
    margin-top: 10px !important;
  }
}

.liens{
  display: flex;
  justify-items: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px;
  a img{
    margin-right: 15px;
    margin-left: 15px;
    max-height: 90px;
  }
}

#presentation{
  margin: 100px;
  #presentation-texte{
    margin-bottom: 50px;
  }

  @media screen and (max-width: 992px) {
    h3{
      font-size: 60px;
    }
    p{
      font-size: 50px;
    }
  }
}

//prend toute la partie langages
#langages{
  height: 570px;
  background-color: rgba(0, 96, 0, 0.64);
  -webkit-clip-path: polygon(0 6%, 100% 0, 100% 95%, 0 100%);
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  img{
    max-height: 110px;
  }

  //Prend la partie autour des 3 sujets(lang/bibli/fram)
  .row{
    height: 570px;
    display: flex;
    justify-items: center;
    justify-content: center;
    #langage{
      padding-top: 60px;
      background-color: rgba(0, 96, 0, 0.64);
    }
    #bibliotheque{
      padding-top: 60px;
      //prend juste les 2 img
      .bibliotheque{
        margin-left: 25px;
      }
    }
    #framework{
      padding-top: 60px;
      background-color: rgba(0, 96, 0, 0.64);
    }
  }

  @media only screen and (max-width: 992px) {
    height: 805px;
    padding-bottom: 225px;
    img{
      display: flex;
      height: 60%;
    }
    #bibliotheque{
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      justify-content: flex-end;

      h3{
        margin-top: 250px;
        z-index: 10;
      }
    }

    #langage{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-end;
    }

    #framework{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

#projet{
  background-image: url("../../../public/img/bg-projet.jpeg");
  background-attachment: fixed;
  background-size: cover;
  //permet de creer l'effet decaler sur l'image
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 91%);
  height: 500px;
  margin-top: -45px;
  margin-bottom: -45px;
  padding-top: 110px;

  h3{
    margin-bottom: 40px;
  }

  #projets{
    display: flex;
    justify-items: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

  }

  //permet de creer un effet de zomm au survole de l'image
  img {
    max-height: 200px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    border-radius: 10% / 50%;
  }
  img:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.6);
  }

  //ICI!!!!! Les images ne se mettent pas les unes sous les autres. Les deux premieres restent cote a cote. Aucune idee de pourquoi
  @media screen and (max-width: 1200px) {
    height: auto;
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 94%);

    img{
      margin-bottom: 60px;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

#contact{
  padding-top: 25px;
  height: 450px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(0, 96, 0, 0.64);
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 95%, 0 100%);
  img{
    margin: 60px;
    max-height: 110px;
  }
}
