body {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  background-color: #002000 !important;
  color: white !important; }

.text-container {
  position: fixed; }
  .text-container h1 {
    margin-top: -8px;
    text-align: center;
    font-family: 'Ultra', cursive;
    color: #002000;
    font-size: 70px !important;
    text-shadow: #007200 1px 1px 2px; }
    .text-container h1 #en-cours {
      display: flex;
      justify-items: center;
      justify-content: center;
      align-items: center;
      align-content: center; }
  .text-container h2 {
    margin-top: -8px;
    text-align: center;
    font-family: 'Ultra', cursive;
    color: rgba(0, 32, 0, 0.87);
    font-size: 60px !important;
    text-shadow: rgba(0, 127, 0, 0.7) 1px 1px 2px; }

h3 {
  text-align: center;
  font-family: 'Aclonica', sans-serif; }

p {
  font-family: 'Gupter', sans-serif;
  font-size: 25px !important; }

.header {
  background-image: url("../../../public/img/header.jpeg");
  background-attachment: fixed;
  -webkit-clip-path: polygon(0 6%, 100% 0%, 100% 96%, 0% 100%);
  box-shadow: 0 0 7px 5px rgba(52, 64, 62, 0.36);
  height: 600px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .header h3 {
    margin-bottom: 60px !important;
    margin-top: 10px !important; }

.liens {
  display: flex;
  justify-items: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px; }
  .liens a img {
    margin-right: 15px;
    margin-left: 15px;
    max-height: 90px; }

#presentation {
  margin: 100px; }
  #presentation #presentation-texte {
    margin-bottom: 50px; }

#langages {
  height: 570px;
  background-color: rgba(0, 96, 0, 0.64);
  -webkit-clip-path: polygon(0 6%, 100% 0, 100% 95%, 0 100%);
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  #langages img {
    max-height: 110px; }
  #langages .row {
    height: 570px;
    display: flex;
    justify-items: center;
    justify-content: center; }
    #langages .row #langage {
      padding-top: 60px;
      background-color: rgba(0, 96, 0, 0.64); }
    #langages .row #bibliotheque {
      padding-top: 60px; }
      #langages .row #bibliotheque .bibliotheque {
        margin-left: 25px; }
    #langages .row #framework {
      padding-top: 60px;
      background-color: rgba(0, 96, 0, 0.64); }
  @media (max-width: 992px) {
    #langages img {
      display: flex;
      justify-items: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 100%; } }

#projet {
  background-image: url("../../../public/img/bg-projet.jpeg");
  background-attachment: fixed;
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
  height: 500px;
  margin-top: -45px;
  margin-bottom: -45px;
  padding-top: 110px; }
  #projet h3 {
    margin-bottom: 40px; }
  #projet #projets {
    display: flex;
    justify-items: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
  #projet img {
    max-height: 230px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    border-radius: 10% / 50%; }
  #projet img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.6); }
  @media (max-width: 992px) {
    #projet {
      height: auto; }
      #projet img {
        width: auto;
        margin-bottom: 40px; } }

#contact {
  padding-top: 25px;
  height: 450px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(0, 96, 0, 0.64);
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 95%, 0 100%); }
  #contact img {
    margin: 60px;
    max-height: 110px; }

/*# sourceMappingURL=body.css.map */
